@use "sass:map";
@import "style/pages/theme";

$banner: "/assets/user/images/hero/banner.png";
$banner1: "/assets/user/images/hero/home_banner.png";

.header-top {

  background: url($banner1);

  background-size: 300% 300%;
  animation: gradientAnimation 5s ease infinite;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.header-top-inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header-top-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    .language-selector {
      .language-button {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 14px;
        color: white;
        font-weight: bold;

        .language-icon {
          font-size: 20px;
          margin-right: 5px;
        }

        &:hover {
          color: map.get($theme-colors, "main");
        }
      }
    }

    .header-top-right {
      .rounded-button {
        background-color: #fdfdfd;
        border: 1px solid #fdfdfd;
        color: rgb(0, 0, 0);
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 25px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-align: center;

        &:hover {
          background-color: #e67e22;
        }

        a {
          text-decoration: none;
          color: rgb(0, 0, 0);
          font-weight: bold;
          padding: 5px;
          text-align: center;
          margin-top: 5px;
        }
      }
    }
  }

  .header-menu {
    width: 100%;
  

    ul {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 0 20px;
        position: relative;

        a {
          text-decoration: none;
          color: white;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 2px;
          padding: 5px 0;
          display: block;

          &:hover,
          &.active {
            text-align: center;
            text-shadow: 0 2px 4px rgba(255, 255, 255, 0.7);
            border-bottom: 2px solid rgb(255, 255, 255);
          }
        }
      }
    }
  }
}

.logo {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 175px;
  margin-bottom: 10px;

  img {
    width: 50px;
    height: 50px;
  }
}
